    body{
        font-family: 'Poppins', sans-serif;
    }
    #cover-photo{
        height: 360px;
        width: 640px;
        margin-left: 25%;
        margin-right: 25%;
    }
    .order-now{
        background-position: right;
        text-decoration: none;
        background-image:linear-gradient(red,orange);
        padding: 5px 10px;
        border-radius: 10px;
        background-repeat: no-repeat;
        text-align: center;
    }
    .flex-display{
        display: flex;
        padding-left: 50px;
        padding-right: 5px;
        margin: 200px 5%;
        background-size: cover;
    }
    .items{
        text-align: center;
    }
    .shadow{
        margin: 20px;
        box-shadow: 5px 8px 5px 8px rgba(255, 0, 0, 0.418);
        text-align: justify;
        width: 25%;
        padding: 10px 15px;
    }
    #footer{
        text-align: center;
    }
    .facebook{
        height: 30px;
        width: 30px;
    }
    #bkash-logo{
        height: 50px;
        width: 50px;
    }
    #rocket-logo{
        height: 40px;
        width: 50px;
    }
    #nagad-logo{
        height: 40px;
        width: 40px;
    }
    #upay-logo{
        height: 40px;
        width: 50px;
    }
    #footer-design{
        margin: 250px 2px 2px 2px;
        background-color: rosybrown;
    }
    #information{
        display: flex;
    }
    #payment{
        background-color: white;
        margin: 15px 10px 10px 960px;
        padding: 4px 4px;
    }
    #payment-allign{
        text-align: center;
    }
